@page "/fetchdata"
@using ECommerceWeb.Shared
@inject HttpClient Http

<PageTitle>Categorias</PageTitle>

<h1>Categorias</h1>

@if (categorias == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Comentarios</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in categorias)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.Comentarios</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private CategoriaDto[]? categorias;

    protected override async Task OnInitializedAsync()
    {
        categorias = await Http.GetFromJsonAsync<CategoriaDto[]>("api/categorias");
    }
}
