@page "/"

<PageTitle>Index</PageTitle>

<h1>Hola Alumnos de Galaxy!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<SurveyPrompt Title="Que tal te parece Blazor?" />

<SurveyPrompt Title="Soy el clon del anterior" Mensaje="jejeje" />
